body {
  background: url("images/polka-dots-1280.jpg");
}

.polkadotbackgrnd {
  background-repeat: repeat;
 }

 section {
  color: white;
  text-align: center;
  font-family: 'Pacifico', sans-serif; 
  padding: 10px 300px 10px 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  border-color: white;
  border-style: solid; 
  border-width: medium;
}
h1 {
  color: white;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin-bottom: 108px;
}

h3 {
  color: white;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin-bottom: 1px;
}

h4 {
  color: white;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

h5 {
  color: white;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin-top: 5px;
}

p {
  width: auto;
  border: white;
  padding: 20px;
  margin: 2px 20px 5px 20px;
  background-color: white;
  box-shadow: #686969;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000; 
  font-family: 'Montserrat', sans-serif;
}

.KittenBio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 300px 10px 300px;
}

.YawningKitten {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 10px 300px 10px 300px;
  margin-bottom: 108px;
}

.HigginsBio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 300px 10px 300px;
}

.OrangeTabby {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  padding: 10px 300px 10px 300px;
  margin-bottom: 54px;
}
 
 .banner img {
   max-width: 100%;
   height: auto;
   width: auto;
   margin:auto;
   display:block;
 }


 .button1 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    width: 70px;
    height: 60px;
    background: #96be25;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    box-shadow: #686969;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000; 
  }

  .button2 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    width: 70px;
    height: 60px;
    background: #2596be;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 20px; 
    text-decoration: none; 
    box-shadow: #686969;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
  }

  .buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 100px;

  }

    li {
      font-family: 'Pacifico', sans-serif;
      color: white;
      font-size: large;
      text-align: center;
      list-style-type: none;
    }
  .footer {
    position: relative;
    left: 20px;
    bottom: 5px;
    width: 100%;
    color: white;
    text-align: center;
  }

  